h1{
    text-align: center;
    font-variant: small-caps;
    background-color: rgb(248, 198, 89);

}
.para{
    font-style: normal;
    font-size: large;
    text-align: center;
    background-color: aliceblue;
    line-height: 40px;
}
ul li {
    text-align:center;
    font-size: large;
    display:inline-block;
    list-style: none;
    margin: 30px;
   
}
header{
    
    background-size: cover;
    background-color: white;

}

ul{
    text-align: center;
}
a{
    background-color: rgb(255, 18, 18);
   color:white;
    border-radius: 5px;
    box-shadow: 3px;
    padding: 5px;
}
a:hover{
    
    background-color: rgb(255, 18, 18);
   color:white;
    border-radius: 5px;
    box-shadow: 3px;
    padding: 10px;
}
.pa{
    text-align: right;
    font-size: larger;
    line-height: 40px;
    
    
}
.par{
    visibility: hidden;
}
section{
    background-color: #95e6fc;
}
.pp{
    line-height: 27px;
    font-size: large;
}
.accueil{
    background-color: green;
}